body {color: white;
background-color: black;
font-family:Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
     
}

a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}


img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.center {
    text-align: center;
}

h1 {
    color: beige;
font-size: 25px;
}

h2 {
font-size: 20px;
}

h3 {
    font-weight: 150;
font-size: 15px;
}


h4 {
    font-weight: 150;
font-size: 15px;        
}

h4  strong {
    font-size: 20px;
    font-weight: bold;
}

h5 {
    font-weight: 150;       
font-size: 15px;
}

.center1 {
    margin: 400px;
    text-align: center;
}

h1, h2, h3, h4, h5 {
  margin: 60px;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 70px; 
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0px 50px;
}

a:hover {
    background-color: white;
    color: black;
    border-radius: 2px 2px;
margin-bottom: 2px;

}